body {
	font-family: Arial, Helvetica;
	font-size: 12px;
	line-height: 200%;
	background: #004360;
	color: white;
}

.button {
	background-color: #3dbb95;
	border-color: #3dbb95;
	color: white;
}

a {
	color: white;
}

#pic {
	margin-right: 10px;
	float:left;
}

.buttonHead {
	display: block;
	width: 550px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	font-size: 11px;
}

.headline {
	display: block;
	text-align: center;
	width: 330px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.content {
	display: block;
	color: dimgrey;
	width: 800px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border: 1px solid grey;
	background-color: #eeeeee;
}

.obj {
	padding: 10px;
	margin-top: 10px;
	border: 1px dashed grey;
}

#map-canvas {
	width: 600px;
	height: 500px;
	float:left;
	background: #fff;
	margin : 10px;
	color: #000;
}